/* inter font setup from here */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


/* inter font */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.skeleton{
  animation: 1.8s ease-in-out infinite skeleton;
}


@keyframes skeleton{
  0%{
    background-position: 150%;
  }
  100%{
    background-position: -50%;
  }
}